.hot-products h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.titles {
    padding-left: 15%;
    padding-top: 8%;
    padding-right: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.titles a {
    transition: all 0.3s ease 0s;
    text-decoration: underline;
    text-transform: uppercase;
    color: #1E1E1E;
}

.titles a:hover {
    transition: all 0.3s ease 0s;
    opacity: 0.5;
}

.hot-products {
    width: 100%;
    padding: 100px 0;
}

.cards {
    display: flex;
    padding: 0 15%;
}

.product-wrapper {
    padding-left: 20px;
    display: flex;
    /*width: 40%;*/
    float: right;
    position: relative;
}

.product-card {
    transition: all .3s ease;
    display: block;
    width: 300px;
    position: relative;
    background: transparent;
    margin: 0 0 17px 0;
}

.big-product-card {
    width: 640px;
}

.product-card h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #1E1E1E;
}

.product-card p {
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #1E1E1E;
}

.product-card p:hover {
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    padding-left: 8px;
    font-weight: 400;
    font-size: 20px;
    color: #545454;
}

.product-card:hover {
    transition: all 0.2s ease 0s;
    transform: scale(1.03);
}

