.content {
    width: 100%;
}


.content-wrapper {
    display: flex;
    padding: 4% 10%;
}

.info {
    padding-left: 15%;
}

.info h1 {
    font-family: Montserrat, sans-serif;
    color: #1E1E1E;
    font-size: 60px;
    font-weight: 300;
}

.info h2 {
    padding-top: 5%;
    font-family: Raleway, sans-serif;
    color: #1E1E1E;
    font-size: 40px;
    font-weight: 50;
}

.info h2:after {
    margin-top: 5%;
    content: "";
    height: 1px;
    width: 30%;
    display: block;
    opacity: 0.5;
    background: #545454;
}

.info h4 {
    padding-top: 5%;
    font-family: Raleway, sans-serif;
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 400;
}

.info p {
    padding-top: 50px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

input[type="number"] {
    background: transparent;
    border-left: 1px solid #1E1E1E;
    border-right: 1px solid #1E1E1E;
    border-top: transparent;
    border-bottom: transparent;
    width: 34%;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.amount-input {
    margin-top: 10px;
    width: 120px;
    border: 1px solid #1E1E1E;
    height: 40px;
    display: inline-flex;
}

.amount-input button {
    color: #1E1E1E;
    border: transparent;
    width: 33%;
    /*background: red;*/
    background: transparent;
    border: transparent;
    position: relative;
}


.info button[class='btn'] {
    height: 40px;
    transition: all 0.3s ease;
    padding: 1% 2%;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #C2C0A6;
    border: transparent;
    /*outline: none;*/
    /*border: 2px solid #C2C0A6;*/
    background-color: #1E1E1E;
    text-align: center;
    margin-top: 2%;
    width: 50%;
}

.info button[class='btn']:hover {
    transition: all .3s ease-out;
    background: #141414;

    color: #FFFBC5;
    font-weight: 400;
}

.info button:active {
    transition: all .1s ease-out;
    background: transparent;
    color: #1E1E1E;
    border: 1px solid #1E1E1E;
}

.main-image:hover {
    transform: scale(1.02);
    transition: all .3s ease-out;
    cursor: pointer;
}

.main-image {
    transition: all .3s ease-out;
}

/*------------------------------------------------------------------------------------------------------*/

.other-details {
    display: table;
    /*margin-top: 10%;*/
    width: 80%;
    margin: 10% 10%;
    /*text-align: center;*/
}

.other-details h2 {
    padding-bottom: 5%;
    font-family: Montserrat, sans-serif;
    color: #1E1E1E;
    font-size: 40px;
    font-weight: 50;
}

li img {
    width: auto;
    height: 660px;
    margin-right: 10px;
}

.other-details .images-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    float: left;
    position: relative;
    padding-bottom: 20px;
}

.thanks {
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
}

