.hot-products h2 {
    padding-left: 15%;
    padding-top: 8%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
}


.hot-products {
    width: 100%;
    padding: 100px 0;
}


.cards {
    display: flex;
    padding: 0 15%;
}

.product-wrapper {
    padding-left: 20px;
    display: flex;
    width: 50%;
    float: right;
    transition: width .2s;
    position: relative;
}

/*@media only screen and (min-width: 450px) {*/
/*    .product-wrapper {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 768px) {*/
/*    .product-wrapper {*/
/*        width: 33.333%;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1000px) {*/
/*    .product-wrapper {*/
/*        width: 25%;*/
/*    }*/
/*}*/

.product-card {
    display: block;
    /*width: 300px;*/
    position: relative;
    background: transparent;
    margin: 0 0 17px 0;
}


.product-card h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #1E1E1E;
}

.product-card a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #1E1E1E;
}