@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Raleway:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #C2C0A6;
    text-decoration: none;
}

header {
    display: flex;
    background-color: #1E1E1E;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: static;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 40px;
}

li a {
    transition: all 0.3s ease 0s;
}

li a:hover {
    transition: all 0.3s ease 0s;
    color: #FFFBC5;
}

header button {
    transition: all 0.3s ease 0s;
    color: #1E1E1E;
    padding: 9px;
    background-color: rgba(194, 192, 166, 1);
    border-radius: 15px;
    border: transparent;
    cursor: pointer;
}

header button:hover{
    transition: all 0.3s ease 0s;
    background-color: #FFFBC5   ;
    border-radius: 10px;
    cursor: pointer;
}


/*------------------------------------------===========-===-===========-----------------------------------------*/

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    background-color: #1E1E1E;
}

.footer-col {
    width: 20%;
    padding: 35px 15px;
}

.footer-row {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 1170px;
    margin: 0 15%;
}

ul {
    list-style: none;
}

.footer-col h4 {
    margin-bottom: 18px;
    text-transform: capitalize;
    color: #C2C0A6;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    background-color: #FFFBC5;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a{
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    padding-left: 8px;
}

.company-info {
    align-content: end;
    width: 30%;
    margin: 0 19% 0 -12%;
    padding: 10px 50px;
}

footer p {
    padding: 60px 0;
    color: #C2C0A6;
    font-size: 18px;
}

/*------------------------------------------===========-===-===========-----------------------------------------*/

.banner-container {
    width: 100%;
    /*height: 100vh;*/
    padding-bottom: 10px;
}

.banner img {
    width: 50%;
    height: 100%;
}

.banner {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #1E1E1E;
    margin-right: 10px;
    /*float: right;*/
    position: relative;
}

.banner-text {
    width: 50%;
    padding-top: 10%;
    padding-left: 8%;
    position: relative;
}

.banner-text h1{
    font-family: 'Raleway';
    /*width: 80%;*/
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #C2C0A6;
}

.banner-text button{
    /*margin-top: 50px;*/
    margin: 100px 0;
    width: 25vh;
    height: 5vh;
    color: #1E1E1E;
    font-weight: 500;
    background-color: #C2C0A6;
    border: transparent;
    transition: all 0.3s ease 0s;
}

.banner-text button:hover{
    transition: all 0.3s ease 0s;
    color: #C2C0A6;
    background: transparent;
    border: #C2C0A6 1px solid;
}

.banner-text button:checked {
    transition: all 0.3s ease 0s;
    color: #C2C0A6;
    border: #C2C0A6 1px solid;
}

/*------------------------------------------===========-===-===========-----------------------------------------*/

.product-wrapper {
    display: block;
    width: 60%;
    float: left;
    transition: width .2s;
    position: relative;
}

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}

.product {
    display: block;
    border: 1px solid #b5e9a7;
    position: relative;
    background: #fff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    /*z-index: 0;*/
    height: 300px;
}

.products {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 10% 15%;
}