<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/icons/IDlogo.png">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/header-footer.css">
</head>
<body>
<div class="wrapper">
    <header id="header">
        <a href="/"><img class="logo" src="../static/icons/logo.png" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li><a href="/store">Store</a></li>
                <li><a href="https://www.ikea.com">Inspiraion</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <a class="cta" href="#">
            <button>Services</button>
        </a>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer id="footer">
        <div class="container">
            <div class="footer-row">
                <div class="company-info">
                    <img src="../static/icons/logo.png" alt="logo">
                    <ul>
                        <p>It happens that in a strange, completely unfamiliar house you begin to feel comfortable.</p>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">Customers support</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Product recalls</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>About</h4>
                    <ul>
                        <li><a href="#">Our team</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Official retailers</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-telegram"></i></a>
                        <a href="#"><i class="fab fa-vk"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
