<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>IDEA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header id="header">
            <img class="logo" src="../static/images/logo.png" alt="logo">
            <nav>
                <ul class="nav_links">
                    <li><a href="https://github.com/niotu">Github</a></li>
                    <li><a href="https://vk.com/selnapol">VK</a></li>
                    <li><a href="https://innopolis.university">Innopolis</a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><button>Services</button></a>
        </header>
        <footer id="footer">

        </footer>
    </body>
</html>
