<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
    <div class="main-container">
        <div class="banner">
            <div class="banner-text">
                    <img src="../static/images/rect_logo.png" alt="logo"></li>
                    <h1>
                        Rect Angels
                    </h1>
                <h2>
                    New minimalistic collection
                </h2>
                <button>Shop now</button>
            </div>
        </div>
    </div>
{% endblock %}