<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<div class="banner-container">
    <div class="banner">
        <img src="../static/banners/banner1.png" alt="banner">
        <div class="banner-text">
            <h1>
                Unique furniture for Your Home
            </h1>
            <a href="/store">
                <button>Shop now</button>
            </a>
        </div>
    </div>
</div>
<div class="hot-products">
    <h1>Hot Products</h1>
    <ul class="products clearfix">
        <li class="product-wrapper">
            <a href="" class="product"></a>
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>
        </li>
    </ul>
</div>
{% endblock %}