<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/banner.css">
    <link rel="stylesheet" href="../static/css/prods.css">
    <link rel="stylesheet" href="../static/css/scroll.css">
    <div class="banner-container">
        <div class="banner">
            <img src="../static/banners/banner1.png" alt="banner">
            <div class="banner-text">
                <h1>
                    Unique furniture for Your Home
                </h1>
                <a href="/store">
                    <button>Shop now</button>
                </a>
            </div>
        </div>
    </div>

    <section id="section07" class="demo">
        <a href="#hot"><span></span><span></span><span></span></a>
    </section>

    <div class="hot-products">
        <div class="titles">
            <h2 id="hot">Hot Products</h2>
            <a href="/store">see all</a>
        </div>
        <div class="cards">
            <div class="big-product-card">
                <div class="product-card">
                    <img src={{ big_info.image }} alt='image' width=660 height=660>
                    <a href={{ 'store/' + big_info.link }}>{{ big_info.name }}</a>
                    <h4>{{ big_info.price }} $ </h4>
                </div>
            </div>
            <ul class="products clearfix">
                {% for item in products %}
                    <li class="product-wrapper">
                        <div class="product-card">
                            <img src={{ item.image }} alt='image' width=300 height=300>
                            <a href={{ 'store/' + item.link }}>{{ item.name }}</a>
                            <h4>{{ item.price }} $ </h4>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../static/scripts/scroll.js"></script>
{% endblock %}