<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/login.css">
    <div class="content-wrapper">
        <div class="login-window">
            <h2>Welcome</h2>
            <input type="email" class="name-input" placeholder="Enter your email">
            <input type="password" class="password-input" placeholder="Enter your password">
            <button type="submit" class="login-btn" id="login-submission">Submit</button>
        </div>

        <div class="under-login-window">
            <h2>Not registered yet?</h2>
            <a href="/register">
                <button type="submit" class="register" id="register">Register</button>
            </a>
        </div>
    </div>
{% endblock %}