<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/personal.css">

    <div class="content-wrapper">
        <div class="name-info">
            <h2>Personal Data</h2>
            <div class="description">
                <div class="name">
                    <h4>Name</h4>
                    <input type="text" class="name" value="{{ user['name'] }} {{ user['surname'] }}">
                </div>
                <div class="address">
                    <h4>Address:</h4>
                    <input type="text" id="address" value="{{ user['address'] }}">
                </div>
                <div class="payment">
                    <h4>Payment methods</h4>
                    <select name="payment-method">
                        <option value="none">Choose payment method</option>
                        <option value="Crypto">Crypto</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="cart-info">
            <h2 class="cart">Your cart</h2>
        </div>
    </div>
{% endblock %}