<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/product.css">
    <div class="content-wrapper">
        <img src={{ item.image }} width="660" height="660" alt="product">
        <div class="info">
            <h1>{{ item.name }}</h1>
            <h2>{{ item.price }} $ </h2>
            <div class="amount-input">
                <h4>Quantity</h4>
                <input type="number" id="quantity" value="1" min="1" max="50">
            </div>
            <p>{{ item.description }}</p>
        </div>
    </div>
{% endblock %}
